apiVersion: v1
kind: Service
metadata:
  name: mealie
  namespace: mealie
  labels:
    app: mealie
spec:
  type: NodePort
  selector:
    app: mealie
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      nodePort: 32001
      protocol: TCP
